<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.fname}}" placeholder="First Name"
            name="fname">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.lname}}" placeholder="Last Name"
            name="lname">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.sex}}" placeholder="Gender" name="sex">
        <label for="floatingInput">Sex</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.dob}}" placeholder="DD-MM-YYYY"
            name="dob">
        <label for="floatingInput">DOB</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.pid}}" placeholder="Police ID"
            name="pid">
        <label for="floatingInput">Police ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.sid}}" placeholder="Police Station ID"
            name="sid">
        <label for="floatingInput">Police Station ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.designation}}"
            placeholder="Designation" name="designation">
        <label for="floatingInput">Designation</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone Number"
            name="phone">
        <label for="floatingInput">Phone Number</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>