<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.fname}}" placeholder="First Name"
            name="fname">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.lname}}" placeholder="Last Name"
            name="lname">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.sex}}" placeholder="email@email.com"
            name="sex">
        <label for="floatingInput">Sex</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.dob}}" placeholder="email@email.com"
            name="dob">
        <label for="floatingInput">DOB</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.crid}}" placeholder="email@email.com"
            name="crid">
        <label for="floatingInput">CRID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.prid}}" placeholder="Phone" name="pid">
        <label for="floatingInput">PID</label>
    </div>
</div>
{{!-- <div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.arrested_on}}"
            placeholder="email@email.com" name="email">
        <label for="floatingInput">Arrested on</label>
    </div>
</div> --}}
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.arrested_on}}"
            placeholder="email@email.com" name="arrested_on">
        <label for="floatingInput">Arrested On</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.current_status}}"
            placeholder="email@email.com" name="current_status" disabled="true">
        <label for="floatingInput">Current status</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>